@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --gradient-start: #ff7e5f;
  --gradient-end: #feb47b;
  --section-start: #ffffff;
  --section-end: #fafafa;
  --mainBlack: "#000000";
  --addBlack: "#060708";
  --accentBlack: "#0e0f11";
  --secondaryBlack: "#2d2f32";
  --mainDark: "#181819";
  --accentDark: "#00000080";
  --mainWhite: "#ffffff";
  --accentWhite: "#f1e7ff";
  --secondaryWhite: "#ffffff33";
  --mainGreen: "#1ed760";
  --mainGrey: "#959595";
  --accentGrey: "#434455";
  --secondaryGrey: "rgba(46,47,66,.8)";
  --addGray: "#80848D";
  --accentBgGrey: "#ffffff1a";
  --addBgGrey: "#0c01011a";
  --mainSlate: #666666;
  --mainBlue: "#4d5ae5";
  --accentBlue: "#404bbf";
  --addGreen: "#0e8538";
  --accentGreen: "#a7d575";
  --neon: "#a7d575";
  --skyBlue: "#52abc4";
  --aqua: "#37eaf7";
  --purple: "#c624ee";
  --purpleMain: "#4A0D67";
  --purpleAccent: "#6B21A8";
  --addPurple: "#8c21f8";
  --mainPurple: "#2c0076";
  --purpleAdd: "#9333EA";
  --accentPurple: "#c591fc";

  /* 🎨 TEXT */
  --text-primary: #000000;
  --text-secondary: #434455;
  --text-muted: #959595;
  --text-light-muted: #e6e6e6;
  --text-inverse: #ffffff;
  --text-primary-hover: #333333;
  --text-inverse-hover: #e6e6e6;

  /* 🧱 BACKGROUND */
  --bg-primary: #ffffff;
  --bg-secondary: #ffffff33;
  --bg-secondary-muted: var(--border-light);
  --bg-muted: var(--text-muted);
  --bg-light-mode: var(--text-primary);
  --bg-tertiary: #f1e7ff;
  --bg-dark-mode: var(--text-primary);
  /* 🧊 SURFACE (cards, blocks) */
  --surface-primary: #ffffff;
  --surface-secondary: rgba(255, 255, 255, 0.2);
  --surface-muted: rgba(255, 255, 255, 0.1);

  /* 🔲 BORDER */
  --border-primary: rgba(46, 47, 66, 0.8);
  --border-muted: #80848D;
  --border-secondary: #e0e0e0;
  --border-light: #d1d5db,
    --border-inverse: #ffffff;
  --border-dark: #000000;
  /* 🚀 PRIMARY (твій main blue / green) */
  --color-primary: #4d5ae5;
  --color-primary-hover: #404bbf;

  /* 🌿 SUCCESS / GREEN */
  --color-success: #1ed760;
  --color-success-dark: #0e8538;
  --color-active: var(--color-success);
  /* ⚡ ACCENTS (декор, glow) */
  --main-purple: #2c0076;
  --accent-purple: #9333ea;
  --accent-pink: #c624ee;


  /* 🌫 OVERLAYS */
  --overlay-dark: #00000080;
  --overlay-light: rgba(46, 47, 66, .8);


  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  transition: color 0.3s ease, background-color 0.3s ease;
}


body {
  height: 100dvh;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  list-style: none;
  text-wrap: balance;
}

a {
  display: inline-block;
}