@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 🎨 TEXT */
  --text-primary: #000000;
  --text-secondary: #434455;
  --text-muted: #959595;
  --text-light-muted: #e6e6e6;
  --text-inverse: #ffffff;
  --text-primary-hover: #333333;
  --text-inverse-hover: #e6e6e6;
  --text-accent: #FACC15;

  /* 🧱 BACKGROUND */
  --bg-primary: #ffffff;
  --bg-secondary: #ffffff33;
  --bg-secondary-muted: var(--border-light);
  --bg-muted: var(--text-muted);
  --bg-light-mode: var(--text-primary);
  --bg-tertiary: #f1e7ff;
  --bg-dark-mode: var(--text-primary);
  /* 🧊 SURFACE (cards, blocks) */
  --surface-primary: #ffffff;
  --surface-secondary: rgba(255, 255, 255, 0.2);
  --surface-muted: rgba(255, 255, 255, 0.1);

  /* 🔲 BORDER */
  --border-primary: rgba(46, 47, 66, 0.8);
  --border-muted: #80848D;
  --border-secondary: #e0e0e0;
  --border-light: #d1d5db,
    --border-inverse: #ffffff;
  --border-dark: #000000;
  /* 🚀 PRIMARY (твій main blue / green) */
  --color-primary: #4d5ae5;
  --color-primary-hover: #404bbf;

  /* 🌿 SUCCESS / GREEN */
  --color-success: #1ed760;
  --color-success-dark: #0e8538;
  --color-active: var(--color-success);
  /* ⚡ ACCENTS (декор, glow) */
  --main-purple: #2c0076;
  --accent-purple: #9333ea;
  --accent-pink: #c624ee;
  --main-aqua: #22D3EE;
  --main-neon: #a3ff12;


  /* 🌈 GRADIENTS */
  --gradient-primary-start: #ff7e5f;
  --gradient-primary-end: #feb47b;

  /* 🌫 OVERLAYS */
  --overlay-dark: #00000080;
  --overlay-light: rgba(46, 47, 66, .8);


  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  transition: color 0.3s ease, background-color 0.3s ease;
}


body {
  height: 100dvh;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  list-style: none;
  text-wrap: balance;
}

a {
  display: inline-block;
}