@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: light-dark(#fff, #000);
  color: light-dark(#000, #fff);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  list-style: none;
  text-wrap: balance;
}

a {
  display: inline-block;
}